ADMIN_USERNAME=admin
ADMIN_PASSWORD=trocar-senha
CPF_ENCRYPTION_KEY=gere-uma-chave-aleatoria-com-pelo-menos-32-caracteres
FRONTEND_PORT=8080
POSTGRES_DB=smashgo
POSTGRES_USER=smashgo
POSTGRES_PASSWORD=trocar-senha-do-banco
POSTGRES_PORT=5432
